{% extends "users/layout.html" %}
{% block title %}Add ex{% endblock %}

{% block body %}

    <div class="container mt-2 text-center mb-3">
        <h1 class="display-6 border-bottom pb-1">
            Create an exercise:
        </h1>
    </div>

    {% if message %}
        <div class="mt-2">
            <p class="display-6 text-danger">
                {{ message }}
            </p>
        </div>
    {% endif %}

    <div class="container mt-2 mt-md-4 border p-2 bg-light">
        <form method="post">
            {% csrf_token %}
            <div class="row g-4 align-items-center">
                <div class="col-sm-5">
                    <label for="ex" class="form-label">Exercise</label>
                    <input id="ex" type="text" class="form-control" placeholder="Your exercise" name="title">
                </div>
                <div class="col-sm-7">
                    <label for="wg" class="form-label">Comment</label>
                    <input id="wg" type="text" class="form-control" placeholder="Your comment" name="comment">
                </div>
            </div>


            <div class="mt-3 d-flex justify-content-between">
                <a class="btn btn-danger" href="{% url 'practice_detail' practice.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd"
                              d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                    </svg>
                </a>
                <button class="btn btn-success " type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                </button>

            </div>
        </form>
    </div>

{% endblock %}

