{% extends 'users/layout.html' %}
{% block title %} practice list{% endblock %}

{% block body %}

    <div class="text-center mt-3 mb-3">
        <a class="btn btn-warning shadow" href="{% url 'practice_add' %}">
            <p class="lead p-0 m-0">
                Create
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
            </p>
        </a>
    </div>

    {% for practice in practice_list %}
        <div class="container shadow m-1 p-2 rounded-3 border d-flex align-items-center justify-content-between"
             style="background-color: cornflowerblue;">
            <div class="d-flex flex-column p-1">
                <p class="p-0 m-0 fw-bold fs-2 ">
                    {{ practice.title }}
                </p>
                <p class="m-0 mt-1 p-0 text-light border-top border-light" style="font-size: 13px">
                    {{ practice.date_plan.date }}
                </p>
            </div>
            <div class="">
                <a class="btn btn-light shadow" href="{% url 'practice_detail' practice.id %}">
                    <p class="m-0 p-0 lead">Open train</p>
                </a>
            </div>
        </div>
    {% empty %}
        <div class="container mt-5 mb-5 text-center">
            <p class="fs-4 text-primary">
                You don't have <a href="{% url 'practice_add' %}"><b>planned</b></a> practice
            </p>
        </div>
    {% endfor %}


{% endblock %}