{% extends 'users/layout.html' %}
{% block title %} practice list{% endblock %}

{% block body %}
    <div class="mt-1 mb-2 row g-2 align-items-center">
        <div class="col-6 text-center">
            <p class="text-light fs-2 m-0  border  rounded p-1" style="background-color: cornflowerblue">
                {{ practice.title }}
            </p>
        </div>
        <div class="col-6 text-center">
            <p class="m-0 bg-light text-dark p-1 border rounded fs-2">
                {{ practice.date_plan.date }}
            </p>
        </div>
    </div>

    <div class="container mt-3">
        {% for exercise in exercises %}
            <div class="row border bg-light mt-1 p-1">

                <div class="col-6 d-flex justify-content-start  align-items-center">
                    <p class="m-0 p-0 fs-3 fw-bold">{{ exercise.title }}</p>
                </div>


                <div class="col-2 d-flex justify-content-end  align-items-center">
                    <p class="m-0 p-0 fs-5">{{ exercise.weight_work }}</p>
                    <span class="text-primary fs-5"> kg </span>
                </div>

                <div class="col-2 d-flex justify-content-center  align-items-center">
                    <p class="m-0 p-0 fs-5">{{ exercise.podhod }}</p>
                    <span class="text-primary">х </span>
                    <p class="m-0 p-0 fs-5">{{ exercise.povtor }}</p>
                </div>

                {% if exercise.completed == True %}
                    <div class="col-1 d-flex justify-content-start  align-items-center">
                        <a class="btn" href="{% url 'exercises_incomplete' practice.id exercise.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                        </a>
                    </div>
                {% else %}
                    <div class="col-1  d-flex justify-content-start  align-items-center">
                        <a class="btn" href="{% url 'exercises_complete' practice.id exercise.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-check-circle text-secondary" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                        </a>
                    </div>
                {% endif %}

            </div>

        {% empty %}
            <div class="container text-center mt-5">
                <p class="fs-3 text-primary">You have not exercises yet</p>
            </div>
        {% endfor %}
    </div>


    <div class="container mt-5 mb-5 d-flex justify-content-between ">
        <div class="">
            <a class="btn btn-lg btn-outline-secondary" href="{% url 'practice_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
        </div>
        <div>
            <a class="btn btn-lg btn-success" href="{% url 'add_exercises' practice.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg>
        </a>
        </div>

    </div>


{% endblock %}